<footer class="footer">
    <div id="c219" class="csc-default">
        <div class="well well-grey well">
            <div class="container" style="">
                <div class="container-content">
                    <div id="c220" class="csc-default">
                        <!--  Header: [begin] -->
                        <div class="csc-header csc-header-n1">
                        <h1 class="csc-firstHeader">F/L/S Fuzzy Logik Systeme GmbH - Systeme, die mitdenken.</h1></div>
                        <div class="csc-textpic-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>