<header id="top">
    <!-- Static navbar -->
    <div class="navbar-id">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-7">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="navbar-logo">
                                <a href="http://fuzzy.de/"><img src="res/img/psi-logo.png" width="153" height="55" class="img-responsive" alt="psi-logo"></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-lg-9">
                            <div class="navbar-claim" style="padding-top:23px;"><img src="res/img/systeme.png" class="img-responsive" width="417" height="38" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a>
                    </li>
                    <li><a href="konzept.html">Qualicision®-Technologie</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>